@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050508;
  margin: 0;
}

@keyframes name-border-cycle {

  0%,
  100% {
    border-bottom-color: #4A7DFF;
  }

  50% {
    border-bottom-color: #b666cf;
  }
}

.name-border {
  display: inline-block;
  width: fit-content;
  /* Forzamos que los otros bordes sean transparentes y de ancho 0 */
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;

  /* Definimos solo el inferior */
  border-bottom: 2px solid #4A7DFF;

  /* Aplicamos la animación */
  animation: name-border-cycle 3s linear infinite;

  /* Opcional: Evita que sombras extrañas se hereden */
  box-shadow: none;
}